# Classification Challenge

The dataset here comes from a kaggle example on Kickstarter projects.  Your goal is the following:

- Load and explore the data
- Determine strategy for missing variables
- Build classifier to predict `state` column.  
- Compare and visualize the `ROC` curve for three different classifiers:
 - `LogisticRegression`
 - `KNeighborsClassifier`
 - `DecisionTreeClassifier`
 
- What did the `DecisionTreeClassifier` decide were the most important features?  Visualize the top five.
- Visualize a `DecisionTreeClassifier` with depth 3, and describe the results.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/ks-projects.csv.zip', encoding='Windows-1252', compression='zip')

/Users/brianlouie/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [50]:
df.groupby(['state','country']).size()

state       country
0           0             96
1           1             15
10          1             10
100         1              5
            2              1
            3              1
            4              1
1010        18             1
103         4              1
1035        12             1
1056        62             1
10564       91             1
106         2              1
10770       170            1
1085        45             1
10890.45    107            1
109         6              1
109301.56   2001           1
110         12             1
            2              1
            3              1
            4              1
            7              1
1100        12             1
11044       248            1
            81             1
11050       176            1
1111.11     9              1
111307.22   229            1
11315.5     92             1
                       ...
successful  LU            13
            MX             2
            N,"0         105
            NL           410
            NO           108
            NZ           330
            SE           335
            SG            32
            US         95770
suspended   AT             4
            AU            74
            BE             5
            CA            98
            CH             8
            DE            32
            DK             9
            ES             8
            FR            10
            GB           146
            HK             3
            IE             7
            IT            16
            N,"0           2
            NL            21
            NO             5
            NZ            11
            SE            15
            SG             2
            US          1003
undefined   N,"0        3555
Length: 572, dtype: int64

In [5]:
df.isnull().sum()

ID                     0
name                   4
category               5
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3790
Unnamed: 13       323125
Unnamed: 14       323738
Unnamed: 15       323746
Unnamed: 16       323749
dtype: int64

In [6]:
df.shape

(323750, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323746 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

In [14]:
df.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [17]:
df.columns = ['ID', 'name', 'category', 'main_category', 'currency', 'deadline','goal', 'launched', 'pledged', 'state', 'backers', 'country','usd pledged', 'Unnamed_13', 'Unnamed_14', 'Unnamed_15', 'Unnamed_16']

In [18]:
df.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'Unnamed_13', 'Unnamed_14', 'Unnamed_15', 'Unnamed_16'],
      dtype='object')

In [20]:
df.pledged[:5]

0        0
1      220
2        1
3     1283
4    52375
Name: pledged, dtype: object

In [24]:
df[['pledged','backers']] = df[['pledged','backers']].apply(pd.to_numeric)

ValueError: ('Unable to parse string "2016-01-03 00:56:46" at position 1454', 'occurred at index pledged')

In [29]:
df[['pledged','backers']] = df[['pledged','backers']].apply(pd.to_numeric)

ValueError: ('Unable to parse string "2014-08-09 03:16:02" at position 1563', 'occurred at index pledged')

In [39]:
df.pledged.value_counts()

0                      45784
1                       7782
10                      4201
25                      3479
5                       3207
50                      3181
20                      2664
100                     2638
2                       2147
30                      1830
15                      1516
40                      1263
60                      1243
35                      1205
11                      1084
75                      1084
150                     1021
200                      985
6                        978
70                       852
26                       849
125                      847
55                       825
3                        825
110                      804
51                       758
45                       751
80                       735
500                      698
21                       693
                       ...
19508.24                   1
2015-10-30 17:11:49        1
1190.35                    1
47378                      1
6487.43                    1
103.5                      1
26423.73                   1
8000.25                    1
39960.01                   1
5500.5                     1
25002.67                   1
11011.34                   1
7022.02                    1
5538.45                    1
93438.67                   1
81707                      1
3635.18                    1
13971                      1
2041.67                    1
29203                      1
39615                      1
161459                     1
345992.47                  1
1680.2                     1
3226.41                    1
4041.7                     1
7229.33                    1
1080.08                    1
31338                      1
0                          1
Name: pledged, Length: 55598, dtype: int64

In [40]:
df.main_category.value_counts()

Film & Video               57679
Music                      46744
Publishing                 34233
Games                      28008
Technology                 26128
Art                        23975
Design                     23872
Food                       21229
Fashion                    18398
Theater                     9972
Photography                 9680
Comics                      8753
Crafts                      7187
Journalism                  4073
Dance                       3375
Fiction                       35
Product Design                29
Documentary                   28
Nonfiction                    27
Children's Books              18
Tabletop Games                14
Shorts                        13
Video Games                   12
Mixed Media                   11
Apparel                       10
Art Books                     10
Web                            8
Narrative Film                 8
Country & Folk                 7
Apps                           7
                           ...
Robots                         1
Audio                          1
 Good for your skin            1
Literary Journals              1
 Demons                        1
 50 Years in the Making        1
Festivals                      1
Action                         1
3D Printing                    1
R&B                            1
 Divine Wisdom                 1
Flight                         1
Events                         1
Jewelry                        1
 soccer                        1
Metal                          1
Radio & Podcasts               1
Interactive Design             1
Photobooks                     1
Farms                          1
 pants                         1
 Spirits                       1
Vegan                          1
 Retro Gaming art.             1
Ready-to-wear                  1
Cookbooks                      1
Plays                          1
Pet Fashion                    1
 Learn                         1
Wearables                      1
Name: main_category, Length: 120, dtype: int64

In [41]:
df.category.value_counts()

Product Design                                        17477
Documentary                                           14891
Music                                                 13907
Shorts                                                11681
Tabletop Games                                        10708
Food                                                  10533
Video Games                                           10059
Film & Video                                           9207
Fiction                                                8231
Fashion                                                7910
Nonfiction                                             7404
Art                                                    6894
Theater                                                6833
Rock                                                   6345
Technology                                             5762
Children's Books                                       5651
Photography                                            5510
Apparel                                                5478
Indie Rock                                             5372
Webseries                                              5347
Publishing                                             5050
Narrative Film                                         4964
Apps                                                   4860
Comics                                                 4631
Web                                                    4220
Country & Folk                                         4047
Crafts                                                 3860
Hip-Hop                                                3474
Design                                                 3455
Hardware                                               3158
                                                      ...
 affordable outdoor gear to fit any terrain               1
 lets see the world together !                            1
 links subscribers with attorney.                         1
A game like no other.                                     1
 The Story of Frank Buckles                               1
 A Christmas album unlike any other!                      1
 Memories from Sheila Fleming                             1
 an eco-friendly woodland project                         1
 A Children's Book Series                                 1
 Michelin Star Chef Approved.                             1
 Enriching Lives by Sharing Simple Truth-Video1           1
 A Short Documentary by Charlie Moon                      1
 Pure & Simple.                                           1
 The Gravity of Our Commitment                            1
 In this country of ours.                                 1
 A World First!                                           1
 Chapter Two (Canceled)                                   1
 an all-new electric recumbent trike                      1
 plansforbuilding.com.au                                  1
 The Life of Clancy Sigal                                 1
 Get a Card of your own original Character!               1
 A Dancer's Journey                                       1
 Sleepy Time                                              1
 Villa Bay Caribbean and Creole                           1
 or is there a third option?                              1
 Groovin' in the Rough                                    1
 An Ode to Ocean                                          1
 Look Closer  - A photographic e-book                     1
 The English Teacher                                      1
 the backpack that does more than just carry stuff        1
Name: category, Length: 770, dtype: int64

In [42]:
df.country.value_counts()

US      257565
GB       27509
CA       11992
AU        6236
N,"0      3790
DE        2684
NL        2259
FR        1910
IT        1750
ES        1372
SE        1269
NZ        1136
DK         825
IE         575
NO         526
CH         471
BE         402
AT         377
MX         214
SG         119
0          102
HK          97
1           74
3           45
2           41
LU          40
4           28
7           18
10          14
6           12
         ...
338          1
124          1
246          1
68           1
284          1
61           1
289          1
117          1
38           1
813          1
81           1
167          1
222          1
307          1
85           1
582          1
43           1
78           1
53           1
99           1
732          1
35           1
70           1
93           1
72           1
169          1
71           1
780          1
109          1
238          1
Name: country, Length: 162, dtype: int64

In [51]:
df.groupby(['state']).size()

state
0                 96
1                 15
10                10
100                8
1010               1
103                1
1035               1
1056               1
10564              1
106                1
10770              1
1085               1
10890.45           1
109                1
109301.56          1
110                5
1100               1
11044              2
11050              1
1111.11            1
111307.22          1
11315.5            1
1146               1
115                2
11558              1
11565              1
118                1
1181               1
1191               1
12                 2
               ...
8542               1
856                1
86                 1
860                1
8609.6             1
865                1
876                1
890                2
90                 3
900                2
9187               1
9210.69            1
9337               1
936                1
938                1
9430.8             1
95                 1
950                1
9500               1
97                 1
971                1
9748               1
9857.8             1
9951               1
canceled       32354
failed        168221
live            4428
successful    113081
suspended       1479
undefined       3555
Length: 410, dtype: int64

In [64]:
status = (df.loc[df['state'].isin(['successful','failed'])])

In [65]:
status.head()[:5]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205,NaN,NaN,NaN,NaN

In [73]:
status.groupby('state').size()

state
failed        168221
successful    113081
dtype: int64

In [77]:
status.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281302 entries, 0 to 323749
Data columns (total 17 columns):
ID               281302 non-null int64
name             281299 non-null object
category         281302 non-null object
main_category    281302 non-null object
currency         281302 non-null object
deadline         281302 non-null object
goal             281302 non-null object
launched         281302 non-null object
pledged          281302 non-null object
state            281302 non-null object
backers          281302 non-null object
country          281302 non-null object
usd pledged      281092 non-null object
Unnamed_13       0 non-null object
Unnamed_14       0 non-null object
Unnamed_15       0 non-null object
Unnamed_16       0 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 38.6+ MB

In [79]:
y = pd.get_dummies('state')

In [88]:
status.drop(['Unnamed_13','Unnamed_14','Unnamed_15','Unnamed_16'],axis=1)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0
10,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08 06:42:58,12500,2013-03-09 06:42:58,12700,successful,100,US,12700
11,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02 17:11:50,5000,2014-09-02 17:11:50,0,failed,0,US,0
12,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25 22:01:12,200000,2016-02-09 23:01:12,0,failed,0,US,0
13,1000064368,Survival Rings,Design,Design,USD,2015-02-28 02:10:53,2500,2015-01-29 02:10:53,664,failed,11,US,664
14,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08 22:27:52,1500,2014-10-09 22:27:52,395,failed,16,US,395
15,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10 21:20:54,3000,2015-04-10 21:20:54,789,failed,20,US,789
16,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17 14:11:32,250,2012-08-02 14:11:32,250,successful,7,US,250
17,1000071625,Boco Tea,Food,Food,USD,2012-06-02 17:24:32,5000,2012-05-03 17:24:32,1781,failed,40,US,1781
18,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30 07:06:11,20000,2013-11-25 07:06:11,34268,successful,624,US,34268
19,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15 10:09:03,3500,2014-05-16 10:10:38,650,failed,12,US,650
20,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25 19:17:33,500,2015-01-26 19:17:33,48,failed,3,NO,6.18000816
21,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12 17:15:50,175,2014-10-23 17:15:50,701.66,successful,66,US,701.66
22,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06 23:16:50,10000,2010-12-07 23:16:50,15827,successful,147,US,15827
23,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05 20:09:06,12000,2015-12-06 20:09:06,0,failed,0,GB,0
24,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14 18:02:00,17757,2014-11-14 18:02:00,48905,successful,571,CA,43203.2511447
25,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28 16:59:29,100,2015-12-29 16:59:29,112.38,successful,27,GB,167.7003057894
26,1000115172,Daily Brew Coffee,Food Trucks,Food,GBP,2015-03-31 18:06:32,3500,2015-03-01 18:06:32,21,failed,1,GB,32.41526106
27,1000117861,Ledr workbook: one tough journal!,Product Design,Design,USD,2016-10-08 02:00:00,1000,2016-09-07 13:14:26,47266,successful,549,US,11253
28,1000120151,Feather Cast Furled Fly Fishing Leaders,Product Design,Design,AUD,2015-08-22 03:09:43,2000,2015-07-23 03:09:43,2000,successful,18,AU,1473.6189
29,1000120287,BB130A,Public Art,Art,USD,2013-03-24 00:07:28,25000,2013-02-12 01:07:28,1395,failed,30,US,1395
30,100012079,Chris Eger Band - New Nashville Record!,Music,Music,USD,2014-08-13 08:59:00,12000,2014-07-14 22:35:51,13260,successful,92,US,13260
31,1000129669,Squatch Watchers,Webseries,Film & Video,USD,2013-08-23 21:40:13,10000,2013-07-24 21:40:13,1373.37,failed,54,US,1373.37
32,1000131947,Arrows & Sound Debut Album,Indie Rock,Music,USD,2012-05-19 01:04:31,4000,2012-04-19 01:04:31,8641.34,successful,157,US,8641.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323713,999780798,Green City Times,Web,Journalism,USD,2016-08-28 05:27:43,5000,2016-07-29 05:27:43,11,failed,3,US,0
323714,99978792,"Join the Fearless Movement, Andre Leneal's Deb...",Pop,Music,USD,2014-03-08 06:00:00,10000,2014-01-27 09:25:24,4676,failed,78,US,4676
323715,999796570,M A V A R I,Apparel,Fashion,USD,2015-01-01 03:00:00,30000,2014-11-30 03:11:48,42647,successful,215,US,42647
323716,999799441,The Hollywood Kills On Tour,Rock,Music,USD,2012-05-04 23:12:03,10000,2012-03-05 23:12:03,10300,successful,78,US,10300
323717,999800713,BETTER DESPERATE,Music Videos,Film & Video,USD,2016-05-07 20:04:26,300,2016-04-07 20:04:26,300,successful,5,US,300
323719,999801508,Competition Finalist,Fashion,Fashion,USD,2013-06-13 01:18:54,4000,2013-05-14 01:18:54,4005,successful,14,US,4005
323721,999811847,"""100 PHOTOGRAPHS FOR OUR LIBERTIES""",Fine Art,Photography,EUR,2015-12-10 22:06:44,5000,2015-11-25 22:06:44,1574,failed,37,FR,1673.7131361
323722,999814955,Collinwood Needs Coffee!!!,Restaurants,Food,USD,2014-07-28 13:28:12,12000,2014-06-28 13:28:12,2090,failed,42,US,2090
323723,999829547,PookieCat rune cards - funny oracle cards for ...,Illustration,Art,EUR,2016-06-07 09:33:08,1500,2016-05-08 09:33:08,1699,successful,39,NL,1937.69716526
323724,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03 19:53:50,10000,2014-09-03 19:53:50,13861.5,successful,413,US,13861.5
323725,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05 06:00:00,12000,2014-05-06 23:50:34,0,failed,0,US,0
323726,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13 04:00:00,25000,2014-11-13 17:16:17,11643,failed,97,US,11643
323727,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08 02:43:59,4000,2010-11-08 02:43:59,3531,failed,37,US,3531
323728,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24 22:37:14,800,2015-08-25 22:37:14,70,failed,5,US,70
323729,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17 17:50:12,5000,2014-11-17 17:50:12,5435,successful,78,CA,4814.8774787
323730,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15 02:10:39,5000,2014-07-15 02:10:39,18,failed,5,US,18
323731,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03 13:04:14,5000,2015-11-03 13:04:14,5579,successful,103,US,5579
323733,99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04 18:00:47,80000,2015-07-06 18:00:47,0,failed,0,CH,0
323735,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15 06:59:00,3500,2015-11-23 07:33:14,6169,successful,120,US,6169
323736,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10 22:45:26,16000,2013-09-10 22:45:26,2738,failed,38,GB,4281.1485734
323737,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30 19:03:00,950,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02
323738,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14 17:11:00,4999,2012-08-15 17:11:00,980,failed,16,US,980
323740,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05 05:59:00,6000,2016-07-29 15:36:29,0,failed,0,US,0
323741,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22 00:00:16,5000,2014-02-20 01:00:16,5501,successful,78,CA,5019.92088197
323742,999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28 21:30:33,20000,2015-03-29 21:30:33,21500,successful,36,NO,2698.974335
323743,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16 03:31:10,1700,2012-02-15 04:31:10,25,failed,1,US,25
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19 03:35:14,1500,2011-06-22 03:35:14,155,failed,5,US,155
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000,2010-07-01 19:40:30,20,failed,1,US,20
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000,2016-01-13 18:13:53,200,failed,6,US,200
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000,2011-07-19 09:07:47,524,failed,17,US,524

In [90]:
status.shape

(281302, 17)

In [97]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, classification_report
from sklearn.pipeline import make_pipeline

In [114]:
target = pd.get_dummies(status.state)
y = target.successful
X = status[['goal','backers']]

In [115]:
y[:5]

0    0
1    0
2    0
4    1
5    1
Name: successful, dtype: uint8

In [116]:
clf = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)
clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [117]:
preds = clf.predict(X_test)

In [118]:
print(classification_report(preds, y_test))

             precision    recall  f1-score   support

          0       0.88      0.96      0.92     38730
          1       0.94      0.84      0.89     31596

avg / total       0.91      0.91      0.90     70326